.date div h3 {
    font-size: 15px;
}
.date div h4{
    font-size: 13px;
    color: rgb(72, 72, 72);
}
.date div{
    margin: 10px 10px;
}
.date{
    display: flex;
    flex-direction: column;
    background-color: rgba(136, 194, 251, 0.693);
    margin-right: 14px;
    border-radius: 5px;
}
.body h1{
   font-size: 25px;
   margin: 5px 5px;
}
.body h2{
    font-size: 20px;
    margin: 15px 5px;
}