.main__wrapper1 {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.calendar-container1{
    box-shadow: 20px 20px 50px rgb(168, 168, 168);
    margin: auto;
    width: 58vw;
    border-radius: 12px;
}